body {
    font-family: 'Roboto', Arial, sans-serif;
    background-color: #f2f2f2;
    padding: 20px;
	text-align: center;
}

h1 {
	font-size: 40px;
	font-weight: bold;
}


#content {
    max-width: 450px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#input-email {
    width: 50%;
	background-color: rgb(129, 133, 137);
	border: none;
	border-radius: 8px;
    font-weight: bold;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#input-age-verification {
	font-family: 'Roboto', Arial, sans-serif;
	padding: 10px;
}

#input-submit {
    width: 30%;
	display: block;
    font-weight: bold;
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#input-submit:hover {
    background-color: #555;
}
