body {
    font-family: 'Roboto', Arial, sans-serif;
    background-color: #f2f2f2;
    padding: 20px;
	text-align: center;
}

h1 {
	font-size: 50px;
	font-weight: bold;
	padding: 20px;
	margin: 20px;
}

p {
	font-family: 'Times New Roman', Arial, sans-serif;
	font-size: 25px;
	padding: 20px;
	margin: 20px;
}

#content {
    max-width: 450px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#input-age-verification {
	margin: 20px;
}

#email {
    width: 50%;
	box-sizing: border-box;
	background-color: rgb(129, 133, 137);
	border: none;
	border-radius: 8px;
    font-weight: bold;
    padding: 18px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#input-age-verification {
	font-family: 'Courier New', Arial, sans-serif;
	padding: 10px;
}

#submit {
    width: 30%;
	box-sizing: border-box;
    font-weight: bold;
    padding: 10px;
    background-color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#input-submit:hover {
    background-color: #555;
}

